{% extends 'base.html' %}
{% block content %}
    <h1>Información</h1>
    <div class="about">
        <p style="text-align: center; margin-bottom: 30px;">“Un juego lleno de eventos es un juego lleno de personas disfrutándolo, es un juego vivo”</p>
        <div class="logo"></div>
        <p><a href="https://go.ivoox.com/sq/1725279">Puente 3</a>, podcast de Kill Team, en colaboración con
            algunos organizadores de torneos de Kill Team de todo Latinoamérica, presenta el “Ranking Latam
            Kill Team” (RLKT) que nace con el objetivo potenciar Kill Team y llevar el juego competitivo a
            un nivel extra en los diferentes países de la región.</p>
        <p>Los torneos son espacios de mejora personal, de compartir en comunidad, de construcción de historias
            épicas. Muchos países de Latinoamérica están realizando torneos, ligas, jornadas de construcción de
            comunidad… RLKT busca sumar a todo esta importantísima labor dando más visibilidad e importancia a
            los torneos y sus resultados, con el objetivo de que sea más fácil que dichos eventos logren asentar
            participantes y que se repliquen en el tiempo.</p>
        <p>Utilizando los datos de <a href="https://www.bestcoastpairings.com/">Best Coast Pairing</a> e
            <a href="https://frontlinegaming.org/kill-team-2019-itc-rankings/">ITC</a>, el actual ranking
            oficial para Kill Team, el RLKT trata de concentrar únicamente los resultados de los torneos en
            Latinoamérica con el propósito de que las y los jugadores de la región estén más motivados a la
            hora de participar en eventos organizados en sus países y así alcanzar sus metas en Kill Team.</p>
        <p>Para más información, pueden consultar estos episodios del podcast o escribir con dudas y sugerencias
            a puente3podcast@gmail.com </p>
    </div>
{% endblock %}