<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='stylesheets/img/logo.png') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
</head>
<body>
    <div class="page">
        <div class="sidenav">
            <div class="nav-up">
                <div onclick="location.href='/';" class="logo"></div>
                <a href="/contact">Contact</a>
                <a href="/about">About</a>
                <button class="dropdown-btn">Packages
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    {% for pkg in packages %}
                        <a href="/package/{{ pkg.shortName }}">{{ pkg.name }}</a>
                    {% endfor %}
                </div>
                <a href="/blog">Blog</a>
            </div>
            <div class="nav-down">
                {% if user %}
                    <a href="#">{{ user.name }}</a>
                    {% if user.permissions >= 12 %}
                        <a href="/blog/add">Add Blog Entry</a>
                        <a href="/package/add">Add Package</a>
                    {% endif %}
                    <a href="/logout">Logout</a>
                {% endif %}
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    </div>

    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
              dropdownContent.style.display = "none";
            } else {
              dropdownContent.style.display = "block";
            }
          });
        }
    </script>
</body>
</html>