{% extends 'base.html' %}
{% block content %}
    <div class="login">
        <h2>Add Blog Entry</h2>
        <form class="login-form" action="/blog/delete" method="post">
            <select name="entry" id="entry">
                {% for entry in blogs %}
                    <option value="{{ entry.shortName }}">{{ entry.title }} - {{ entry.date }}</option>
                {% endfor %}
            </select>
            <button type="submit">Delete</button>
        </form>
    </div>
{% endblock %}