{% extends 'base.html' %}
{% block content %}
    <div class="login">
        <h2>Add package</h2>
        <form class="login-form" action="/package/add" method="post">
            <select name="package" id="package">
                {% for pkg in packages %}
                    <option value="{{ pkg.shortName }}">{{ pkg.title }} - {{ pkg.price }}$</option>
                {% endfor %}
            </select>
            <button type="submit">Delete</button>
        </form>
    </div>
{% endblock %}