{% extends 'base.html' %}
{% block content %}
    <h2>Landing page</h2>
    <h3>Aquí la información general bien guapa y resultona</h3>
    <p>Cosas a tener en cuenta</p>
    <p>-Desde "contact" se enviará un email con el correo del demandante, el paquete deseado y el mensaje en sí.</p>
    <p>-Desde Packages, al clickar sobre una de las opciones, te redirige a Contact con el paquete seleccionado.</p>
    <p>-Puedes añadir y eliminar paquetes y entradas de blog. Para ello tienes que estar logueado como te explicaré por privado</p>
    <p>-A la hora de añadir packages, tienes la opcion de poner "promotion" y una fecha de fin de la promoción. Una vez
        pasada esa fecha el paquete dejará de ser visible. Si no es un paquete de promoción puedes dejar la fecha en blanco</p>
{% endblock %}